
# NODE
################
node_modules
npm-debug.log

# MAVEN
################
target
*.class
*.jar
*.war
*.ear

# RUBY
################
Gemfile.lock

# GRADLE
################
build
.gradle
!gradle-wrapper.jar
gradle-app.setting
.gradletasknamecache

# MONO
################
packages
*.exe
*.dll
bin

# Vagrant
################
.vagrant

# Ansible
################
main.retry

# OS X Junk
################
.DS_store
