<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- C++ Compilers -->
  <package id="visualstudiocommunity2013" />
  <!-- Virtualbox Components -->
  <package id="virtualbox" />
  <package id="virtualbox.extensionpack" />
  <!-- Docker Components -->
  <package id="docker" />
  <package id="docker-machine" />
  <package id="docker-compose" />
  <!-- Vagrant Components -->
  <package id="vagrant" />
</packages>
